/*======== Skills ========*/

.skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
}

.skill-card {
    padding: 1.5rem;
    background: var(--color-surface);
    border: 2px solid var(--color-surface);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    text-align: center;
}

.skill-card:hover {
    border-color: var(--color-primary);
}

.skill-card:hover .text {
    transform: scale(1.3);
}